[2014-05-15 23:50] rbabayoff opened #1 "spacejam crashes if ROOT_URL is not set"
Hey, a bug fix will be released by the team shortly, but for now, possible workarounds are:
1. Set --root-url on the command line to http://localhost:4096/ (or whatever your ROOT_URL is)
2. Set the ROOT_URL env var to http://localhost:4096/ (or whatever your ROOT_URL is)

[2014-05-16 00:10] rbabayoff opened #2 "meteor doesn't exit cleanly if spacejam crashes"
Thus failing the next time it runs to connect to the same port

[2014-05-16 00:11] rbabayoff opened #3 "meteor's internal mongodb doesn't exit cleanly"
We opened a bug with meteor to address the issue:

https://github.com/meteor/meteor/issues/2182

[2014-05-16 22:54] ranfis-spacejam opened #4 "Starting MongoDB printed multiple times in the console"
This is because meteor is using a special type of console spinner. We will open an issue to ask meteor to use a more standard like console progress adviser such as using a plain old asterisk.

[2014-05-16 22:55] #1 closed, assigned to nobody

[2014-05-16 22:55] #2 closed, assigned to nobody

[2014-05-16 23:23] ranfis-spacejam opened #5 "Support meteor --release flag"

[2014-05-18 01:29] #4 closed, assigned to nobody

[2014-05-20 00:52] #5 closed, assigned to nobody

[2014-05-23 17:21] gjolund opened #6 "coffee-script needs to be installed prior to using spacejam"
In order to run spacejam I had to to `npm install -g coffee-script`

I will uninstall both and attempt to replicate the error if you are unable to.

[2014-05-23 20:39] #6 closed, assigned to nobody

[2014-06-12 01:34] #3 closed, assigned to nobody

[2014-08-22 15:33] rbabayoff opened #8 "spacejam crashes if timeout happens during meteor build before meteor is ready"
This can happen, for example, when npmjs.org is slow serving packages.

[2014-08-25 05:09] rbabayoff opened #9 "Print description of exit code at the end of test-packages"
So humans can review it.

[2014-08-25 05:09] rbabayoff opened #10 "Print description of exit code at the end of test-packages"
So humans can review it.

[2014-08-25 05:10] #10 closed, assigned to nobody

[2014-08-25 05:14] rbabayoff opened #11 "Remove coffee-script prerequisite"

[2014-09-23 08:13] #8 closed, assigned to nobody

[2014-10-17 12:21] emlama opened #12 "Support OS X"
Hey there, I've been trying to get SpaceJam running so I can use it for automated package testing and have encountered this error:

[code]

Just for good measure, I checked spacejam out locally and ran the tests, of which, number failed:

[code]

Any thoughts?

[2014-11-20 06:17] #11 closed, assigned to nobody

[2014-11-30 05:02] dandv opened #15 "MONGO_URL not honored?"
I want to pass an empty MONGO_URL to meteor test-packages because my package doesn't do any DB work. This works normally, i.e. `MONGO_URL=mongodb:// meteor test-packages ./` works perfectly. But it looks like spacejam sets its own MONGO_URL:

[code]

[2014-11-30 05:07] dandv opened #16 "HTTP.get fails"
Steps to reproduce:

[code]

Output:

[code]

[2014-11-30 05:34] #15 closed, assigned to nobody

[2014-12-03 15:14] mquandalle opened #17 "Allow running spacejam from any folder, not only from app or package folders"
I split my `jade` package in two distinct parts and I now use the undocumented `test-app-path` option to test both local packages at the same time. More context in this commit message: https://github.com/mquandalle/meteor-jade/commit/6da3e816d94433bdf255a4cf8dd893772d182cca.

As the above message explains I use the following command to test my packages:

[code]

and it works as expected. If I call

[2014-12-04 21:51] mquandalle opened #18 "Inconsistent failure with meteor test-packages"
Hello,

`spacejam` fails where meteor build-in `test-packages ./` command does not. Here is a reproduction with one of my repositories:

[code]

[2014-12-05 00:37] #18 closed, assigned to nobody

[2014-12-05 05:30] #12 closed, assigned to nobody

[2014-12-05 14:49] mcbain opened #19 "Provide xunit test-reporter"
Is it possible to generate a test-report xml parsable for teamcity or jenkins?

[2014-12-14 04:52] #17 closed, assigned to nobody

[2014-12-23 14:23] mcbain opened #21 "First invocation of spacejam after fresh install always fails"
We use spacejam for automatic testing in TeamCity on dynamic aws-ec2 agent-nodes.
These instances have an image where spacejam is installed with "npm install -g spacejam".
After startup always the first invocation "spacejam test-packages ./" fails because of the wrong app url.

     => App running at:
          https://d3sqy0vbqsdhku.cloudfront.net/packages-bootstrap/1.0.2

Any later run then work

[2014-12-24 06:37] #16 closed, assigned to nobody

[2015-01-02 04:34] meonkeys commented on #19
+1. Great idea!

[2015-01-04 21:23] rbabayoff commented on #19
Hey, will one of you be willing to work on a pr for this? I can guide you through it.

[2015-01-12 17:26] meonkeys commented on #19
@rbabayoff I think so! Will you describe what needs to be done? Specs can probably be entered right in this issue. I'm also in the meteor-talk google group and on the #meteor channel on Freenode (my nick is `meonkeys`) if you'd like to chat/discuss elsewhere.

[2015-01-15 23:08] rbabayoff commented on #19
@meonkeys that's great. Let me go over code to see exactly what needs to be done.

[2015-03-10 16:12] boxxxie opened #23 "bump phantomjs to 2.0 please"
latest stable version.

[2015-03-10 22:12] rbabayoff commented on #23
I rather wait for 2.0.1 or 2.0.2.

[2015-03-12 13:21] johanbrook opened #24 "Function.prototype.bind is undefined in SpaceJam"
Great package! I use it for CI tests for my packages.

However, it said my test failed since my code under test was using `Function.prototype.bind`, which is `undefined` when running latest SpaceJam. I checked this by `console.log`-ing out `myFunction.bind` when running the test.

When using Underscore's `_.bind`, everything works smoothly.

[2015-03-12 19:58] rbabayoff commented on #24
Hey, I suspect this is not a spacejam issue, it's a phantomjs issue that doesn't support Function.prototype.bind. I'd recommend therefore to stay with _.bind or use a bind shim until phantomjs supports it properly in a future version and spacejam upgrades to that version.

[2015-03-12 20:13] johanbrook commented on #24
Okay, didn't know that! Thanks.

[2015-03-12 20:13] #24 closed

[2015-03-18 23:19] micahblu opened #25 "Error given at line of file that doesn't exist"
I'm getting an error that's referencing a file which does not exist. Otherwise the error descriptors are very useful giving line and character info, but as it is, they serve no purpose since the file doesn't exist. I'm assuming the file is built at runtime, then removed in a clean up process. This makes debugging errors very difficult. Is there a way to circumvent this behavior for files containin

[2015-03-18 23:25] rbabayoff commented on #25
Hey,

It doesn't look like it's a spacejam issue. The problem is in:

[code]

If this is your code, I would:

[code]

It also may be a Dante export issue.

When running the tests in the browser, due you get the error?

[2015-03-18 23:34] micahblu commented on #25
Yes I understand this not a spacejam error, most likely an error in the way I've setup the package, my question is: Is spacejam creating the file `http://localhost:4096/packages/michelson_dante.js` ?

[2015-03-18 23:43] rbabayoff commented on #25
No, this is standard meteor. This is meteor's compile js or sourcemap file apparently.

[2015-03-18 23:44] micahblu commented on #25
Thank you, that points me in the right direction :)

[2015-03-18 23:44] #25 closed

[2015-03-19 19:45] meonkeys commented on #19
Ping

[2015-03-26 18:40] aquator opened #26 "Option to keep spacejam running, and rerun tests on change"
It would be nice to have an option that keeps spacejam running like the standard meteor package test, and triggers the tinytests again on change. That could eliminate the opened browser from the workflow.

[2015-03-26 22:21] rbabayoff commented on #26
Hey, I actually like the open browser, it allows me to filter tests, and have the tests run in a real browser, not in phantomjs. We will not work on something like that, but will accept PRs for that, if someone wants to work on it. We already implemented something very similar for the velocity team, yet never published it, so you can use it as a base. I can get on skype / google hangout to show yo

[2015-03-26 22:23] rbabayoff commented on #19
Hey, sorry, dropped the ball on this. I can get on a skype / google hangout to run you trough it. Just email me - rbabayoff@gmail.com.

[2015-03-27 07:13] aquator commented on #26
That would be a perfect addition to my notifier package for a TDD workflow. I'll look into it, thanks for the info.

[2015-03-27 22:45] meonkeys commented on #19
See PR #28. I wish I could write to a file write from phantomjs `onConsoleMessage`, but I'm not sure how to do that.

[2015-03-27 22:52] rbabayoff commented on #19
The best way would be to do it on the spacejam side, filter the phantomjs child process output and save to file there.

[2015-03-28 21:38] meonkeys commented on #19
Ok, I'll take another look.

[2015-03-29 03:30] meonkeys commented on #19
See PR #29.

[2015-03-29 09:53] dandv opened #30 "Windows support?"
Now that Meteor is about to release official support for Windows, would there be interest in making spacejam run on Windows? I know it's intended for CI, which runs on *nix machines, but for local development, it would be useful to have Windows support. Right now, I get

[code]

[2015-03-30 01:47] rbabayoff commented on #30
Would be nice, but I won't work on this one until windows support is officially out there and stable.

[2015-04-19 03:34] #19 closed

[2015-04-21 13:01] aquator commented on #26
Finally I got some time to look into it. It is not yet pushed, but the idea is: use the already existing --watch flag, and create a custom script based on phantomjs-test-in-console, and it simply not exits the phantomjs. That way both file change reloads and meteor crashes are handled well.

However, I'd like to take another step: the root cause of this is to be able to use notification on file sa

[2015-04-21 20:26] rbabayoff commented on #26
Hey, didn't quite understand what you're trying to do. Let's skype? ronenbabayoff

[2015-04-22 10:02] aquator commented on #26
Will be busy this week (Craft conference) but will try to catch you in skype or hangouts and clarify things. Probably the upcoming evenings I can push some code to my fork, that may help as well.

[2015-04-23 19:57] aquator commented on #26
Hey, here is the stuff (raw version)
aquator/spacejam@6182ca68725c1c46483eda696e66db3dad883efd is the simple phantomjs script that not exists (you should launch spacejam with both --phantomjs-script=phantomjs-watch-in-console and --watch arguments)

aquator/spacejam@95367a6a43ae2f7646774fd2fdd2d4d3c7590889 is a mod in Phantomjs.coffee to emit the test results (parsed from passed/expected/failed/to

[2015-04-24 11:47] mcbain opened #33 "improve junit-output"
Currently all spaces in test names get replaced by a dash.
Since the output is utf-8 you could also use "another space char" e.g.  \u00A0

http://www.fileformat.info/info/unicode/char/00A0/index.htm.

Also in teamcity the testname is doubled, since the 'name' and 'classname' field contain the same values.

[2015-04-27 03:18] deanius opened #34 "Tests fail in tinytest, but not spacejam"
Man, I'm really looking for a predictable command-line testing tool for packages, but getting disheartened.

The first package I wrote and tried to validate this tool on, I get only the following output on the console (did it pass, fail, error?), and a `0` exit code regardless of whether tinytest sees the failure.

[code]

Package source:
https://s3.amazonaws.com/www.chicagogrooves.com/spacejam-de

[2015-04-27 04:08] rbabayoff commented on #34
spacejam uses tinytest, it is only a launcher for meteor test-packages and for phantomjs. arunoda's tool is the same, but it is a script instead of an npm package. spacejam outputs the same, since this ouptut comes from phantomjs in both tools. I downloaded your package and run tests using spacejam and got the complete expected output. What OS r u on?

[2015-04-27 14:48] chicagogrooves commented on #34
OSX Yosemite. Thanks for checking that out.. Do you suggest any next steps for me to debug ?

[2015-04-29 06:46] rbabayoff commented on #34
Can you let me know the version of spacejam you're using, the command and if you're using ROOT_URL or MONGO_URL? If you do, you will need to set them using spacejam command line flags, since spacejam ignores them to not run tests on same mongodb as your app's one. Same for ROOT_URL

[2015-04-29 06:46] rbabayoff commented on #34
Also, I'll run it on os x tomorrow.

[2015-05-05 06:18] aquator commented on #26
Hey, I am a bit overwhelmed with other real life issues, but don't quit on this just yet. Do you have any idea how to trigger a phantomjs re-test if a sever only file is changed? That's pretty much the last thing to solve.

[2015-05-28 04:40] vsivsi commented on #23
:+1:

Thanks for the great package, however  I need phantomjs 2.0 to test my [file-collection]() package that uses modern HTML5 file APIs. Pre-2.0 phantomJS uses a very old Webkit version: `Blob` and `FileReader` don't work at all in 1.9.x. https://github.com/ariya/phantomjs/issues/11013
Would love to set-up travis on this package, but this issue prevents it from working.

[2015-05-28 05:03] rbabayoff commented on #33
I don't control xunit output, meteor does. Please file it there. meteor's code is here:

https://github.com/meteor/meteor/blob/devel/packages/test-in-console/driver.js

[2015-05-28 05:04] rbabayoff commented on #33
I only make meteor generate it and save it to file. But you can always take the output file and process it to your needs.

[2015-05-28 05:26] rbabayoff commented on #26
Hey, no need to use file system watch at all, you can just use meteor's builtin hot code pushes on code changes. Reason it doesn't work with spacejam is that spacejam uses meteor's [test-in-console](https://github.com/meteor/meteor/tree/devel/packages/test-in-console) test driver, which doesn't include the autoupdate and reload packages. meteor's default [test-in-browser](https://github.com/meteor

[2015-05-28 07:11] mcbain commented on #33
Thanks, for the hint to driver.js

[2015-05-28 07:11] #33 closed

[2015-05-29 09:12] aquator commented on #26
Thanks for the tip, what I missed is the autoupdate I guess. I used the watch to prevent script termination, but I'll take another try with the test-in-velocity once I'll have a few moments of something people call "free time" :D

[2015-07-20 11:20] dandv commented on #9
Yes please. What does 8 mean?

[2015-07-20 11:21] dandv opened #36 "Any idea why this build fails with "Unhandled 'error' event"?"
https://travis-ci.org/Wylio/meteor-mandrill/builds/71746610

[code]

[2015-07-20 11:31] dandv commented on #36
So the `meteor` executable wasn't found.

Turns out Travis moved to a container-based architecture, and Meteor needed sudo to write its launcher script.

[Adding `meteor` to $PATH fixed the problem](https://github.com/Wylio/meteor-mandrill/commit/b3086b5157fb8c7fcc7ff0f03123f7339787dde1).

Would be nice if spacejam gave a more explicit error message for `meteor` not being found.

[2015-07-20 11:31] #36 closed

[2015-07-24 18:09] #21 closed

[2015-08-18 21:27] p-j opened #40 "Test cannot run on client (error preventing script execution) but build is ok"
Hi,

It seems that if the client side tests are not run because of a javascript error prior to the execution, the build will end successfully no matter what.

Here is an [example](https://travis-ci.org/p-j/meteor-gravatar/builds/76004361#L181)
The `Npm` variable is not set because it is not expected to run on the client side, only the server side, this will prevent the client side test from ever b

[2015-08-18 22:10] jsep commented on #40
Hi @p-j thank for the issue I'll have a look later. If you like mocha you should try our [mocha](https://atmospherejs.com/practicalmeteor/mocha) package zero dependencies with velocity and works perfectly with `spacejam`.

To run your tests with mocha and spacejam:
1) Add `practicalmeteor:mocha` package instance of `tinytest`
2) run `spacejam test-packages --driver-package=practicalmeteor:mocha-co

[2015-08-20 01:33] billyvg commented on #40
We're having the same issue:

[code]

Then it ran tests for other packages.

[2015-08-20 14:11] jsep commented on #40
`spacejam`  will exit with non success status if:
*  spacejam internal error.
* At least one test has failed.
*  The meteor app exited with an error or is crashing.
*  The tests have timed out

Basically if `meteor` compiles and runs `spacejam` will look for at least a failing test.

[2015-08-20 14:50] p-j commented on #40
Shouldn't it look for Phantoms output as well?
Le 20 août 2015 16:11, "Juan Sepulveda" <notifications@github.com> a écrit :

[2015-08-20 15:49] jsep commented on #40
Yes, we are looking for phantomjs ouput but its hard to know whether the client tests are broken or its just an simple exception of tests.

[2015-08-20 17:23] billyvg commented on #40
Shouldn't spacejam also exit with non success status if phantomjs throws an error?

[2015-10-14 20:49] #40 closed

[2015-10-14 23:32] vsivsi commented on #23
@rbabayoff   It's been nearly 6 months, any progress on upgrading to phantomJS 2.0?

[2015-11-09 21:21] meonkeys opened #44 "Is there some way to prevent meteor auto-restart?"
I've got a situation where my Meteor package causes the tinytest Meteor app to crash the first time `Exited with code: 8`, but restarts and then works normally. This is caused by a failing db migration. After restarting, a "migrations locked" error is printed and the other tinytests succeed.

Is there some way to get spacejam to make sure Meteor does _not_ restart?

Here's a simple repro. Create a

[2015-11-12 02:02] rbabayoff commented on #34
@deanius can you check if latest version, v1.3.0 fixed it? Not sure it will, but just in case.

[2015-11-12 02:11] rbabayoff commented on #44
To figure out meteor is crashing, spacejam is waiting for the "Your application is crashing, waiting for file change" message meteor generates after a few restart attempts. See [here](https://github.com/practicalmeteor/spacejam/blob/eca8d6eb0b0c242373ac89fcb3fa5fdbf2a1776f/src/Meteor.coffee#L31). The output to wait on is actually configurable and can be provided on the command line, so you can jus

[2015-11-12 22:50] meonkeys commented on #44
Doesn't work for me.

[code]

BTW, one fix to my repro above, make sure `spacejam-startup-repro.js` and `spacejam-startup-repro-tests.js` are only loaded server-side. Here's my `package.js` file:

[code]

[2016-01-20 20:02] jeffryan opened #48 "--xunit-out creates empty output file"
Performing the following command:
$ spacejam-mocha --xunit-out results.xml

This runs all testcases for all project packages and reports the results to the console normally. However, although the results.xml file does get created, its contents are empty. I've tried conditions where all test cases pass and where some fail but the result is the same.

Am I invoking the option correctly?

I'm using v

[2016-01-20 20:12] jeffryan commented on #48
I should mention that I was originally trying to run the tests like this:

$ spacejam --xunit-out results.xml  test-packages --driver-package=practicalmeteor:mocha-console-runner

and then later moved to the spacejam-mocha syntax in my first post. I seem to get the same result either way.

[2016-01-20 23:11] rbabayoff commented on #48
@jeffryan, I won't have time to take a look at this this week. I'll take a look at it next week. In the meantime, see if an older version of spacejam works or you:

[code]

[2016-01-21 17:46] jeffryan commented on #48
no worries... i'm out till late next week anyway. I did give 1.3.0 and am having the same issue. One thing I notice looking at the code and the console output is that I never see the  '_meteor_magic_' message come through on the console. However, I do see that message when running spacejam through starrynight. so I'm not sure how thats happening. I need to dig into the starrynight code to see how

[2016-01-21 23:49] savvopoulos opened #49 "tests fail in spacejam but on under meteor test-packages"
My test fails on this line:
  scheduler.update().should.include.something.that.eql({

With:
TypeError: Cannot read property 'that' of undefined

'something.that' is chai-things syntax. It's a handy library for checking results. It seems to have a weird way of initializing the module, could that be it?
From: https://github.com/chaijs/chai-things/blob/master/lib/chai-things.js

  // NodeJS
  if (typ

[2016-01-22 06:39] savvopoulos commented on #49
I created a special version that removes the suspicious code, and added it as a dep to my project, but it didn't fix the problem.

It must be something else.

[2016-01-22 19:17] savvopoulos commented on #23
+1

[2016-01-24 21:36] rbabayoff commented on #49
The error message says that `something` is undefined, which means that `should.include` is defined. If it works with meteor test-packages, it's probably an incompatibility problem with phantomjs, which spacejam uses for browser testing. Can you try and install the latest version of phantomjs and then run spacejam with `--use-system-phantomjs=true`?

[2016-01-25 15:02] savvopoulos commented on #49
Thanks for the response! I fixed that issue by using another library.

However, it seems that phantomjs 1.9 is really out of date: I got the issue again, a day later, with the react library... --use-system-phantomjs fixes the issue. Thanks for that.

Now I will need to figure out a way to convert that into a circle.yml file .. :) and hopefully that's the last I will have to do my meteor CI!

[2016-01-25 15:49] savvopoulos commented on #49
This is how I got it to work with CircleCI:

dependencies:
  cache_directories:
    - ~/.meteor
  override:
    - meteor || curl https://install.meteor.com | /bin/sh
    - npm install -g phantomjs2  --phantomjs_downloadurl=https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2
    - npm install -g spacejam

test:
  override:
    - spacejam test-packages --use-system-p

[2016-01-25 15:51] savvopoulos commented on #23
FYI, the phantomjs package was stuck at 1.9 because the linux version was delayed (it seems like it was released recently).

In the meantime, you can do the following:
1) install phantomjs2 manually
 npm install -g phantomjs2
You may have to specify this flag, in case the package's link is broken:
--phantomjs_downloadurl=https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.

[2016-01-27 01:56] rbabayoff commented on #23
@savvopoulos yes, I'm waiting for it to be bumped and will also need to refactor my test runs, since phantomjs 2 doesn't support coffee. Thanks for documenting the workaround.

[2016-02-01 17:04] jeffryan commented on #48
Hi Ronan, I'm back looking at this again. Thought I would give a little more information about what I'm seeing when I run the test. I ran the tests again but this time with --loglevel trace and I've included the output in the attached file. Looking through the output I don't see any errors. It looks like Phantomjs is getting invoked with related options as shown below but again the result file is

[2016-02-03 13:00] savvopoulos commented on #23
Hi, according to https://www.npmjs.com/package/phantomjs
you will need to switch to https://www.npmjs.com/package/phantomjs-prebuilt
which is already in version 2.1.3.

Thanks for maintaining this package! Without it, my company wouldn't be using Meteor.

[2016-02-10 13:58] savvopoulos commented on #23
Also, phantomjs is now in version 2.

[2016-02-12 15:15] dpankros opened #50 "Spacejam: Unknown error with exit code 'null'"
I need some help figuring out what's going on with this.  I just installed spacejam for all users (`sudo -H npm install -g spacejam`) and tried `spacejam test-packages ./` and I get:

[code]

This package works fine and all tests pass using `meteor test-packages ./` Worse, it does the same for all packages.  That makes me pretty confident it's a installation or configuration issue, but I'm sure wh

[2016-02-15 16:14] savvopoulos commented on #23
ping? Is there any chance to bump to a newer version of phantomjs? Would radically simplify my life .. :)

[2016-03-11 23:38] rbabayoff commented on #49
@savvopoulos great! I'll add it to the readme.

[2016-03-11 23:43] rbabayoff commented on #50
@dpankros I have nothing to go on here. Questions:

1. What OS r u on?
2. What version of meteor?
3. Is the package open source? Can I try it with your package?

[2016-03-12 00:13] dpankros commented on #50
OSX 10.11.3
Meteor 1.2.1
My branch of the package is at: https://github.com/dpankros/meteor-schema-index
I ran into this problem trying to figure out the issue with this pull request: https://github.com/aldeed/meteor-schema-index/pull/4

As I said previously, if I run `spacejam` on ANY package it fails (not just this one) and it's always the same error.  `mtp ./` or `meteor test-packages ./` work

[2016-03-12 11:45] savvopoulos commented on #49
Hi Ronen

At this point, a better solution might be to upgrade to the latest version of phantomjs, which is easy since there are a few npm packages out there -- see my other comment.

[2016-03-13 22:21] rbabayoff commented on #49
@savvopoulos I know, problem is that phantomjs 2.0 doesn't support coffee and our spacejam unit tests run in coffee. Need to refactor stuff a bit to make this work with 2.0. Will get to it soon.

[2016-03-14 09:16] savvopoulos commented on #49
thank you :)

On Sun, 13 Mar 2016 at 23:21 Ronen Babayoff <notifications@github.com>
wrote:

[2016-03-23 15:38] cpury commented on #23
This is breaking our Circle CI setup, as spacejam insists on installing its own version of phantomjs, which ends up being rate-limited by bit bucket quite a lot.... We can work around it but it's annoying.
+1

[2016-03-27 20:27] wojtkowiak commented on #30
Got the same issue? Any plans on supporting Windows?
The above issue is easily fixable just by using [cross-spawn](https://github.com/IndigoUnited/node-cross-spawn) here https://github.com/practicalmeteor/spacejam/blob/master/lib/ChildProcess.js#L14 instead of child_process.
However I did not have time to check if any other problems will not pop up after that one.

[2016-03-27 21:24] rbabayoff commented on #30
@wojtkowiak thanks for the pointer, will check it out.

[2016-04-05 18:04] billyvg opened #53 "PhantomJS dependency is being rate limited by bitbucket"
This is a big problem with CI as builds will randomly fail based on phantomjs being installed or not.
Our current workaround is to use our forked `spacejam` package.

[code]

[2016-04-06 15:44] cpury commented on #53
We had the exact same problem. Fixed it by some tweaks to our `circle.yml`:

- Download phantom js manually via `wget` in `override:`
- Use that file when installing phantomjs, e.g. `npm install phantomjs@1.9.16 --phantomjs_downloadurl=file://~/phantom2js/phantomjs-1.9.16.tgz`
- Cache our downloaded version of phantomjs in `cache_directories:`

That way, the download only needs to succeed once and

[2016-04-07 08:39] cpury opened #54 "Issue with wrong version of package... Can I enforce a certain version?"
Our app works perfectly, and even running spacejam locally doesn't pose a problem.
However, since yesterday, all our automated tests on Circle CI fail:

[code]

Turns out a lot of people were getting this problem at the same time: https://github.com/TAPevents/tap-i18n/issues/160 . Not sure how, since neither `tap:i18n` nor `cfs:http-methods` had a recent update, and we're fixing the version of `ta

[2016-04-07 15:02] jsep commented on #54
@cpury

You can try adding the package with a  version constrain `meteor add  cfs:http-methods@0.0.30`.

Spacejam basically run `meteor test-packages` and the app meteor creates is under `/tmp/meteor-test-run<random-id>`

[2016-04-07 15:04] cpury commented on #54
@jsep thanks for the info! That way I at least can investigate which versions the spacejam app uses.

We're not using `cfs:http-methods` directly, but at least two packages we use seem to use it. I guess some package somewhere has `cfs:http-methods` as an requirement without fixing the version which causes the newest version to be used.

[2016-04-18 18:57] rbabayoff commented on #48
@jeffryan I apologize, there has been a confusion on our side - xunit output is only supported for meteor tinytests, not for mocha. But, the good news is that we're working on supporting xunit output for mocha tests too. We'll have a release candidate out there for you to check today or tomorrow.

[2016-04-20 14:29] jeffryan commented on #48
That would be great Ronan. Will this work with meteor 1.3? We've moved our project over but we have not gotten our tests running through spacejam since the move.

[2016-04-20 15:00] jsep commented on #48
Hello @jeffryan we just release `practicalmeteor:mocha-xunit-reporter` and its working with Meteor 1.3, here how to use it.

1) Install 1.6.0-rc1 of spacejam. Run this: `npm install -g spacejam@1.6.0-rc`
 2) `meteor add practicalmeteor:mocha-xunit-reporter`
3) To run tests: `spacejam test --driver-package practicalmeteor:mocha-xunit-reporter --full-app  --xunit-out results.xml`

[2016-04-20 15:13] jeffryan commented on #48
Thanks @jsep
Currently our mocha tests are package tests... can I expect those to work as well?

[2016-04-20 15:14] jeffryan commented on #48
I'll give this a shot sometime today and report back. Thanks alot.

[2016-04-20 15:14] jsep commented on #48
Yes it's the same for tests, only use `spacejam test-packages --driver-package practicalmeteor:mocha-xunit-reporter --full-app --xunit-out results.xml`.

[2016-04-20 17:46] jeffryan commented on #48
@jsep I am trying to install the new release candidate version but npm can't seem to find it:

$ npm install -g spacejam@1.6.0-rc
npm ERR! Darwin 15.4.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "-g" "spacejam@1.6.0-rc"
npm ERR! node v0.10.43
npm ERR! npm  v2.15.0
npm ERR! version not found: spacejam@1.6.0-rc
npm ERR! If you need help, you may report this error at:
npm ERR!     <https://

[2016-04-20 18:24] jsep commented on #48
Sorry my bad @jeffryan is `1.6.0-rc1`

`npm install -g spacejam@1.6.0-rc1`

[2016-04-20 20:29] jeffryan commented on #48
@jsep I've tried this with a couple packages now and I'm seeing a few issues:
1. Each test seems to be ran twice. Ex:
[code]
2. The program doesn't seem to return once all the tests are complete. Just hangs indefinitely.
3. When I finally terminate the program with ctl-C I look at the xunit result file and it is created but empty

Here's a little more info:

- We're on meteor 1.3.0 currently.
- We

[2016-04-20 20:32] jsep commented on #48
I think it's enough to debug, what about the results.xml it's working?

[2016-04-20 20:41] jeffryan commented on #48
no its empty... however, I am killing the program after some idle minutes so maybe it's stuck somehow trying to write or close that file.

[2016-04-20 20:49] jsep commented on #48
ok, thanks @jeffryan

[2016-04-20 20:52] jeffryan commented on #48
no problem... let me know if you want me to give it another go.

[2016-04-20 21:30] rbabayoff commented on #48
@jeffryan, when using test-packages, don't use --full-app, --full-app is only for running meteor app tests, when using the new `meteor test` command in meteor 1.3. See the [meteor guide](http://guide.meteor.com/testing.html) for additional info.

[2016-04-20 21:34] jeffryan commented on #48
OK - thanks for clarifying @rbabayoff.  unfortunately as mentioned above I tried both with and without the --full-app with same results.

[2016-04-20 21:34] rbabayoff commented on #48
Also, I'd recommend always installing the version of meteor you need before running spacejam in ci envs, by running:

[code]

[2016-04-20 21:39] jeffryan commented on #48
yep - thats what we've done. thanks.

[2016-04-21 00:00] rbabayoff commented on #48
@jeffryan:

1. What OS are you on?
2. What node version are you using?
3. Can you create a repo that reproduces this for us?

[2016-04-21 13:02] jeffryan commented on #48
Hi @rbabayoff
I'm running on osx v10.11.4 (El Cap)
Node v0.10.43 (same as meteor)
Meteor v1.3.0

I can make you a repo but it may take me a week or so... we are in the midst of wrapping up a new product and its our final crunch right now. Definitely want to get this working though as we begin ramping up development on this product line. Just give me a few days ;)

Thanks

[2016-04-27 20:56] jsep commented on #48
Hello @jeffryan I've just release a new version of the package that should solve the issues, please try again and let me now.

The new version of `practicalmeteor:mocha-xunit-reporter` is  ` 0.1.0-rc.2`

[2016-04-28 20:53] jeffryan commented on #48
Thanks @jsep I'll give it a try. By the way,  I can't help but notice the version # your suggesting has changed as well as the rc #... so I should be doing:
$ npm install -g spacejam@0.1.0-rc.2   ?

previous version was:
$ npm install -g spacejam@1.6.0-rc.1

[2016-04-28 20:56] jsep commented on #48
@jeffryan you don't have to change the version of spacejam, you can still use `spacejam@1.6.0-rc1`

[2016-04-28 21:16] jeffryan commented on #48
oh got it - was thinking the reporter was part of the spacejam package... trying it now thanks.

[2016-04-28 22:17] jeffryan commented on #48
Hi @jsep here's what I've found.
First I just tried adding
`    api.use('practicalmeteor:mocha-xunit-reporter@0.1.0-rc.2');`
to my Package.onTest section of the package we were testing. But this was not adequate to allow for me to run spacejam with the mocha-xunit-reporter driver. So then I tried adding that package directly to the main meteor application as follows:
`$ meteor add practicalmeteor:

[2016-05-01 14:09] serut commented on #30
Hi,
It's working great on windows with this commit, but I didn't run tests so tell me if it's still ok.
As you know, psargs and ppid are not supported under windows, so I needed to remove this test https://github.com/serut/spacejam/commit/ffaa9c9d26d8ed60d83f6315350743082786799b#diff-0b5f1f297c7739069dfef6aa7cc959c1L29. Is it really important to check that mongod has the PPID of meteor ? Another s

[2016-05-02 16:02] denodaeus commented on #48
Also having the same issue Jeff has posted above, mainly:

1) results.xml is empty
2) space jam doesn't exit after the tests are complete

Also, we're having an issue where meteor seems to hang at 100% CPU utilization (the process spawned by space jam), about 30% of the time, but we'll follow up on a different issue after trying to track down what's going on.

Thanks,

[2016-05-03 11:09] schoepke commented on #30
I had this issue as well (Windows 10) and wanted to fix it because my Cloud9 *nix VM tends to run out of disk space so I need an alternative local IDE and meteor installation.
Running meteor test-packages runs fine out of the box btw.

So here's how I got it to work (it's not exactly the same as the commit does):
* made backups of all the files in my npm\node_modules\spacejam\lib folder
* use cros

[2016-05-03 11:23] schoepke commented on #50
Did you get it to work somehow?
If not, could this be related to issue #30 ?

I know that issue is about Windows but I've been having similar hickups and it could be caused by ps process handling peculiarities on OSX as well.

Have you tried running spacejam with the --loglevel debug option?
Maybe the log output help pinpointing what function or spawned process fails.

[2016-05-03 12:56] serut commented on #30
Yes windows looks first in the directory and then in the PATH ...! But I found an alternative, I use the full path of phantomjs:
https://github.com/practicalmeteor/spacejam/compare/master...serut:master#diff-46f7a2c55394d7160b95c6cfd50c64b9R40
Note that my repository works great on windows, but it doesn't look anymore if mongod is a child of meteor

[2016-05-03 17:35] dpankros commented on #50
Nope.  It's still broken.
[code]

[2016-05-03 18:27] jsep commented on #48
Hi @jeffryan, @denodaeus, I can't reproduce the problem a demo repo will be very helpful.

By the way did you guys try to run the tests using just `meteor test` command? maybe we can find the problem using meteor and not spacejam.

Please try this:

For app
[code]
For packages under Package.onTest
[code]

[code]

Go to `http://localhost:3000` open the console and you should see the tests in the co

[2016-05-03 19:02] jsep commented on #30
Thanks @schoepke  and @serut I'm working with windows support and your contributions are welcome, if you want you can create a pull request.

@schoepke you can use spacejam for your app tests as well, the latest release of spacejam has support meteor test command.

[2016-05-05 01:48] denodaeus commented on #53
If you update the phantomjs dependency, the CDN has recently been switched to github.  Or you can just use the CDN_URL env variable (I think that's it, but check the README.md on the phantomjs repo) to point to the new location.

After I did that, my problems went away.

[2016-05-09 15:00] jsep commented on #23
Hello everyone, we just release a new version of spacejam that includes the latest version of spacejam,
please install spacejam with `rc` tag or with version constraint.

[code]

[2016-05-09 17:56] vsivsi commented on #23
@jsep  I assume you mean "...includes the latest version of ***phantomjs***", and not spacejam, right?  😉

[2016-05-10 13:47] jsep commented on #23
Hi @vsivsi it also have the latest version of spacejam with support for `meteor test` command.

[2016-05-10 17:15] minid33 commented on #48
@jsep I did try your troubleshooting and got no results as well when using `mocha-xunit-reporter`, I also get it when using `spacejam-mocha`

[2016-05-10 17:54] vsivsi commented on #23
Okay, good to know. Thanks!

[2016-05-18 10:30] mcbain commented on #48
I have the same problem, output file is always empty

[2016-05-19 04:53] dburles opened #55 "1.6.0 fails with coffee: No such file or directory"
We recently noticed our builds were failing on circleci along with this error:
[code]
on taking a look into it I realised they were installing 1.6.0 previously 1.5.2.

Any idea what's causing this issue on the latest version?

[2016-05-19 22:49] keyscores opened #56 "env: coffee: No such file or directory"
Getting this error on installing and running spacejam.
Meteor. 1.3.2-rc.5  , Mac OSX

// ok

// env: coffee: No such file or directory

[2016-05-20 14:34] jsep commented on #56
@keyscores You can solve this by running:

[code]

This it's going to be fix in the next release

[2016-05-20 18:11] jsep commented on #55
@dburles Yes it;s going to be release in next version today.

For now please add this:
[code]

[2016-05-21 00:37] dburles commented on #55
thanks @jsep !

[2016-05-24 02:41] dburles commented on #55
Hey still seeing this problem with 1.5.2

[2016-05-30 21:35] #55 closed

[2016-05-30 21:40] jsep commented on #56
This should be fixed

[2016-05-30 21:40] #56 closed

[2016-06-06 08:27] serut opened #60 "Error: Cannot find module '../lib/log' #57"
travis can't run `bin/spacejam`, it throws this error: `Error: Cannot find module '../lib/log'`

Here is the list of operation that I did on travis

[code]

You can find the entire log here: https://travis-ci.org/serut/meteor-coverage-app-exemple/builds/134144135

Node try to require the file `../lib/log.js` and not the file `../lib/log.coffee`. This is exactly this use case: https://stackoverflow

[2016-06-17 23:01] jsep commented on #23
Upgraded in 1.6.0

[2016-06-17 23:01] #23 closed

[2016-06-29 20:09] jsep commented on #30
Hello @serut @schoepke @wojtkowiak  @dandv  I've just release a new version of spacejam that can support windows, I've include all your suggestions.

To try the new version run this:

`npm install -g spacejam@1.6.2-rc.1`

[2016-07-05 04:06] cortezcristian opened #62 "spacejam not working with test-packages Meteor 1.3.4"
Hi there,

I'm trying to run TravisCI with a Meteor Package test.

**1- Unhandled error in meteor client side code**
[code]

See the entire log
https://travis-ci.org/cortezcristian/meteor-plivo/builds/142354998

What I have tried so far:
- Tried a lot of different combinations of phantomjs, phantomjs2, phantomjs-prerelease and swtiching the flag `--use-system-phantomjs` on and off.
- Different ver

[2016-07-05 06:20] cortezcristian commented on #62
Finally after marking all my scripts as server side:
[code]

I was able to make them work:

[code]

This is the Build Passing:
[Passing](https://travis-ci.org/cortezcristian/meteor-plivo/builds/142368687)

[2016-07-05 06:20] #62 closed

[2016-07-07 17:12] thiagodelgado111 opened #63 "Running `spacejam test-packages --driver-package=practicalmeteor:mocha-console-runner ./` fails"
### System info:
ProductName:	Mac OS X
ProductVersion:	10.11.5

Node v5.5

### Details
[code]

[2016-07-07 18:51] jsep commented on #63
Hello @thiagodelgado111 are you using the latest version of `spacejam` ?

[2016-07-07 18:56] thiagodelgado111 commented on #63
Hey @jsep, I npm installed it globally, is that right?

[2016-07-07 18:58] jsep commented on #63
Yes you just have to run:

`npm install -g spacejam`

Today I'm going to release a new version, I'll let you know.

[2016-07-07 20:03] thiagodelgado111 commented on #63
Ok, @jsep! Will wait for it :) If there is anything I can help with, pls ping me :)

[2016-07-07 21:40] jsep commented on #63
@thiagodelgado111 try this and let me know if it solve this issue:

`npm install -g spacejam@rc`

[2016-07-08 03:44] thiagodelgado111 commented on #63
Hey @jsep, thanks for helping! :) I've tried it again with the rc version and now I got a different error:
[code]

[2016-07-08 08:32] maxnowack commented on #60
Same issue on circleci ...

[2016-07-08 09:12] serut commented on #60
Can you try with the last version `1.6.2-rc.4` of spacejam ?

[2016-07-08 09:20] maxnowack commented on #60
Yes, it's working with the lastest rc.
Thank you! :)

[2016-07-08 09:33] serut commented on #63
Hey ! Can you execute your command with verbose ? `--loglevel debug`

[2016-07-08 17:11] thiagodelgado111 commented on #63
Here is the output:
[code]

[2016-07-08 18:23] serut commented on #63
`phantomjs` fails to spawn, it can be an error related to node `v5.5.0`.
I see that you use nvm, can you try spacejam with node 0.10.43 ? (~ `nvm install 0.10.43 && nvm use 0.10.43`)

[2016-07-11 20:50] vsivsi commented on #60
@serut  Can you make `spacejam@1.6.2-rc.4` the default install on npm?  Right now if you just say:

[code]

You still get `spacejam@1.6.2-rc.2`, with this issue.  I'd really prefer not to hard-code versions (esp. release candidates) into to my TravisCI.

On second thought, perhaps the npm default install should remain `1.6.1` until the final release of 1.6.2 is ready?

[2016-07-11 20:58] vsivsi commented on #60
Specifically:

[code]

Tag `latest` should be set to either version `1.6.2-rc.4` (the real latest) or `1.6.1` the latest solid release.

Thanks!

[2016-07-11 21:14] vsivsi opened #64 "`latest` tag on npm points to broken version `1.6.2-rc.2`"
See comments here for context: https://github.com/practicalmeteor/spacejam/issues/60#issuecomment-231860659

Running this *should* fix it:

[code]

[2016-07-11 22:14] jsep commented on #64
Thanks, it's fixed now

[2016-07-11 22:14] #64 closed

[2016-07-11 22:14] jsep commented on #60
I was my bad, the latest now it's `1.6.1`

[2016-07-11 22:20] vsivsi commented on #64
Thanks for the quick fix!

[2016-07-15 00:29] rbabayoff commented on #54
Closing this, since it's not a spacejam issue.

[2016-07-15 00:29] #54 closed

[2016-07-15 00:32] rbabayoff commented on #63
@thiagodelgado111 , as @serut suggested, please use node 0.10.43, which is what we use with spacejam, since it's the same one latest version of meteor will use. I think we should force a node version limitation in package.json, going forward.

[2016-07-15 00:33] rbabayoff commented on #53
@denodaeus great, will add this to the readme, once we document travis ci usage in it.

[2016-07-15 00:37] rbabayoff commented on #50
@dpankros can you try and reinstall meteor? Some issues have been solved this way.

[2016-07-15 00:38] #49 closed

[2016-07-15 00:44] rbabayoff commented on #34
@deanius ?

[2016-07-15 12:44] thiagodelgado111 commented on #63
Hey @serut, @rbabayoff, thanks a lot for helping! It's a shame I didn't realised that before, sorry about that. Unfortunately, it's still failing for me even after reinstalling spacejam using the correct node version, here follows the log I get from it:

[code]

Any thoughts on that?

[2016-07-20 15:52] noahsw opened #65 "Spacejam fails with "there is no route for the path: /local""
When I try running `node_modules/spacejam/bin/spacejam test --driver-package=practicalmeteor:mocha-console-runner --loglevel debug`, I get the following error: `phantomjs: There is no route for the path: /local`

Full output:

[code]

[2016-07-22 06:42] serut commented on #65
Can you tell us what is the content of your `.meteor/packages` & `.meteor/versions` & `.meteor/release` ?

I think it's related to dispatch:mocha-phantomjs, maybe you can't get them alonside.
`http://localhost:4096/packages/dispatch_mocha-phantomjs.js`

If that doesn't help, can you check if you have the same error with `meteor test --driver-package=practicalmeteor:mocha`, on your browser console

[2016-07-25 04:57] noahsw commented on #65
**.meteor/packages**
[code]

**.meteor/versions**
[code]

**.meteor/release**
[code]

**meteor test --driver-package=practicalmeteor:mocha works just fine**
[code]

[2016-07-25 05:25] noahsw opened #66 "Support spacejam --version"
I can't figure out how to print the spacejam version of the binary I'm using. It'd be great if the CLI supported this.

[2016-07-25 05:34] noahsw commented on #65
Related to https://github.com/serut/meteor-coverage-app-exemple/issues/1

[2016-08-03 14:44] thiagodelgado111 commented on #63
Guys, testing latest spacejam version with Meteor 1.4.x is working for me now, so I'm closing this issue, thanks a bunch for your help! You're doing a great job! Thanks again!

[2016-08-03 14:44] #63 closed

[2016-08-09 11:01] DominikGuzei commented on #50
I have a similar problem … using 1.6.2-rc.4 version of spacejam:

[code]

[2016-08-11 01:25] thiagodelgado111 commented on #50
Same here running on OSX
Meteor 1.4
Mongo 3.2.6

It seems that the process explorer package can't find mongod process
`Found meteor mongod child with pid:  undefined`

Details:
[code]

[2016-08-11 01:25] thiagodelgado111 commented on #50
BTW, I've tried that package from node console manually and it couldn't find the `mongod` process either

[2016-08-11 17:04] BenAychh commented on #50
I was having the same issue on OSX (El Capitan). Installing the RC seemed to fix it for me but now spacejam never exits after running the tests. I get down to the line `(STDERR) MochaRunner.runServerTests: failures: 0` but it never exits. (It is also no longer showing the individuals results of the tests in my console.

[2016-08-11 20:23] dpankros commented on #50
@rbabayoff BTW, reinstalling meteor didn't affect the behavior in any way.

[2016-08-23 10:59] DominikGuzei commented on #50
Is there any update on this issue?  i have tried any combination of spacejam and node and practicalmeteor:mocha but the issue remains. The tests are passing correctly for me but spacejam always exists like this (no matter what the actual test results were):

[code]

The problem here is that the return code is always `0` which makes it unusable on a CI server

[2016-08-31 20:59] thiagodelgado111 commented on #50
any update on this one?

[2016-08-31 21:30] DominikGuzei commented on #50
Yeah we still have that problem and consider switching away from spacejam because of it.

[2016-09-15 08:54] HugoHeneault opened #67 "Stuck on running-tests when using mocha-console-runner"
Hi there,

Tests are working when I use `meteor test --driver-package=practicalmeteor:mocha`, but not with `spacejam test --driver-package=practicalmeteor:mocha-console-runner`

Here's my console output:

[code]

And then, nothing happens.
http://localhost:4096/local shows a blank page without errors.

I'm using Meteor 1.4.1.1

Any ideas?

[2016-09-20 14:06] noahadler commented on #50
I'm having this problem as well (OSX, tinytest).  I'm trying to go through the code and see if I can come up with a patch, but I don't know if I will succeed.  Is there a viable alternative to spacejam someone can recommend?

[2016-09-20 18:17] kuka commented on #67
+1

[2016-10-18 07:16] elenadimitrova opened #69 "`Altered source could not be accessed:` error and no coverage generated"
spacejam@1.6.2-rc.4 installed globally

Running
`COVERAGE=1 COVERAGE_VERBOSE=1 COVERAGE_APP_FOLDER=./.coverage spacejam test --driver-package practicalmeteor:mocha-console-runner --coverage out_coverage --loglevel debug`

does not produce the coverage dump expected in .coverage and has the following result, including a number of `Altered source could not be accessed:` errors (in bold below):

[cod

[2016-10-18 10:23] serut commented on #69
This issue is not related to this repository but instead to https://github.com/serut/meteor-coverage/.
Three things that may explain your issue :
- serut/spacejam setups environment variables for you throw the `--coverage`, so you don't have to prefix your spacejam command with any environment variable.
- `COVERAGE_APP_FOLDER` is not the output folder but your source folder. The output folder can

[2016-10-18 11:25] elenadimitrova commented on #69
Logged correctly under https://github.com/serut/meteor-coverage/issues/44

[2016-10-18 11:25] #69 closed

[2016-10-26 19:20] ughitsaaron commented on #50
+1 for this issue. Also having this problem.

[2016-10-27 16:17] cwartel commented on #67
same here with meteor 1.4.1.1
then updated to 1.4.1.3 no luck
ended with 1.4.2... spacejam is still stuck as @HugoHeneault mentions except i'm on a server can't get to http://localhost:4096/local

[2016-11-03 06:13] vedavyas772 commented on #67
did u get the solution?? @HugoHeneault  @cwartel

[2016-11-04 07:10] cwartel commented on #67
no solution yet, I stick with the web reporter for now and will update here if anything comes up

[2016-11-07 05:07] vedavyas772 commented on #67
can you please tell me about the web reporter your using ?
and also the process for installation/setup @cwartel

[2016-11-07 08:35] cwartel commented on #67
my web reporter is `practicalmeteor:mocha` and the console one is `practicalmeteor:mocha-console-runner` I installed them with the `meteor add` command.

[2016-11-07 10:21] vedavyas772 commented on #67
r u using a test coverage report?

[2016-11-07 12:36] cwartel commented on #67
nope. I'll try to find the time to reproduce it in a public repo

[2016-11-08 05:09] vedavyas772 commented on #67
okay ..update it here if you find any information

thanks

[2016-11-10 12:21] vedavyas772 commented on #67
uninstall your sapcejam package and install this package ...

meteor npm i --save-dev https://github.com/serut/spacejam/tarball/windows-suppport-rc4

it worked for me !!!

[2016-12-01 12:35] brunoalvesdefaria commented on #30
It's not working for me.

I'm getting the following error:
`
Error: Cannot find module 'coffee-script/register'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (C:\Users\bruno\AppData\Roaming\npm\node_modules\spacejam\bin\spacejam:3

[2016-12-14 12:12] Josh-ES commented on #67
Thank you for this, really helped me out! Any idea what the fix is?

[2017-01-19 09:26] mibcadet commented on #67
provided link brings us to 'windows-support-rc4' version, what about linux?

[2017-01-19 16:37] HugoHeneault commented on #67
If I remember, it's working on linux too :)

[2017-02-01 00:35] reywood commented on #50
I created a fork of this repo with the changes in the pull request created by @noahadle. I also checked in the compiled JavaScript files so that the repo can be used directly with `npm install`. You can run `meteor npm install --save-dev git+https://github.com/reywood/spacejam.git` to install it and save it in your package.json file. Then, you can use it to run tests by running `node_modules/.bin/

[2017-02-08 21:33] keyscores commented on #67
+1 this is still an issue in OSX, and meteor 1.4.3

[2017-02-15 18:54] keyscores commented on #67
@jsep Have you encountered this issue? I see your commit was the last one in this repo.
I can see that there are active Node and phantomJS processes, but no activity in the terminal.

[2017-02-22 22:04] huevoncito commented on #67
+1 Still an issue on OSX. @keyscores did you find a workaround?

[2017-02-22 22:28] keyscores commented on #67
@huevoncito No workaround. I'm working on a fork of dispatch:mocha. I recommend you try that. You can checkout my work in progress at https://github.com/keyscores/meteor-mocha

[2017-02-22 22:47] huevoncito commented on #67
If you're using flow router, this works:

[code]

[2017-03-27 03:56] thebarty commented on #48
Hi guys,

it's been a while: I just stumbled upon the same problem - being UNABLE to get a xml output. I have tried on both local OSX and CircleCi.

**Did you guys make any progress? Can you share which solution you are using right now?**

[2017-04-06 18:00] leosco opened #71 "spacejam on Windows crashes during startup"
Unfortunately, it looks like that age-old Mac to Windows issue where spaces in directory names are screwing up command execution.

[code]

And phantomjs crashes further down:
[code]

[2017-04-16 14:50] derek-fong commented on #67
Any updates to this? Unable to run this on Windows, OSX and Travis CI...

[2017-05-02 15:52] MarceloPrado commented on #67
+ 1 on OSX

[2017-05-11 09:11] btoueg opened #72 "Debugging "Unhandled error in meteor client side code. Exiting.""
I don't know what to do from there.

I've run `spacejam` with `--loglevel trace` but it doesn't provide any useful information.

I've run `spacejam` with `--phantomjs-options="--load-images=no --ssl-protocol=TLSv1 --debug=true"` but it shows that the `setInterval` callaback in the `phantomjs-test-in-console.js` script is run 6 or 7 times before entering the `onError` callback.

Please note that te

[2017-05-21 19:57] Infinitism opened #73 "vnvcuiheuckeb"

[2017-05-21 19:57] #73 closed

[2017-07-03 08:57] SimonSimCity opened #74 "PhantomJS coverage fails by 'Failed to save html report'. How can I get more details?"
I have a project where I once in a while run the tests including code-coverage. Today I discovered that it fails. After reading in other issues a bit I discovered this flag `--loglevel debug`, and this got me a bit closer ..

The tests themselves run all through and I get the following ending line:

    --------------------------------------------------
    ---------------------RESULTS------------

[2017-07-07 13:21] uglywizkid opened #75 "phantomjs: TypeError: undefined is not an object (evaluating 'Package.modules.meteorInstall')"
Hi there.

Any clue why this happens?
[code]
Unfortunately our build break due to this issue. But our tests with practicalmeteor:mocha driver run fine.

Cheers

EDIT:
Using latest Meteor Release 1.5

[2017-08-10 12:59] vajahath opened #76 "update minimatch"
while installing this shows up:
[code]

[2017-08-17 17:40] singhsoldier13 commented on #75
+1 having same issue

[2017-08-25 22:15] midyan commented on #75
+1. Same is happening

[2017-09-15 00:27] greglaw commented on #75
I'm having the same issue.

[2017-10-09 23:13] cristo-rabani commented on #75
Hello,

Is any progress in this issue?

[2018-02-04 13:22] ammoniak commented on #75
+1, same thing here

[2018-12-26 22:47] #9 closed

[2018-12-26 22:47] #26 closed

[2018-12-26 22:47] #30 closed

[2018-12-26 22:47] #34 closed

[2018-12-26 22:47] #44 closed

[2018-12-26 22:47] #48 closed

[2018-12-26 22:47] #50 closed

[2018-12-26 22:47] #53 closed

[2018-12-26 22:47] #60 closed

[2018-12-26 22:47] #65 closed

[2018-12-26 22:47] #66 closed

[2018-12-26 22:47] #67 closed

[2018-12-26 22:47] #71 closed

[2018-12-26 22:47] #72 closed

[2018-12-26 22:47] #74 closed

[2018-12-26 22:47] #75 closed

[2018-12-26 22:47] #76 closed, assigned to nobody